<%= form_for @post ,:html => { :class => "form-horizontal"}  do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <%= f.text_field :title %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Content</label>
      <div class="controls">
        <%= f.text_area :content ,:rows=>"3"%>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Create Post",:class => "btn btn-primary" %>

<% end %>
