<%= semantic_form_for [:admin, @user] do |f| -%>
    <fieldset class="inputs"><legend><span>Post Details</span></legend>
      <ol>
        <li class="text input optional">
          <%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => 'control-label' %>
          <%= f.text_field :email %>
        </li>
        <li class="text input optional">
          <%= f.label :password, t("activerecord.attributes.user.password", :default => "password"), :class => 'control-label' %>
          <%= f.password_field :password, :class => 'password_field' %>
        </li>
        <li class="text input optional">
          <%= f.label :Password, t("activerecord.attributes.user.password_confirmation", :default => "password_confirmation"), :class => 'control-label' %>
          <%= f.password_field :password_confirmation, :class => 'password_field' %></br>
        </li>
        <% for role in Role.find(:all) %>
            <li class="text checkbox optional">
              <%= f.label role.name , :class => 'control-label' %>
              <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
            </li>
        <% end %>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <ol>
        <li class="action input_action " id="post_submit_action">
          <input name="commit" type="submit" value="Create User">
        </li>
        <li class="cancel">
          <%= link_to "Cancel", admin_dashboard_path %>
        </li>
      </ol>
    </fieldset>
<% end -%>
